@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

body, html {
    height: 100%;
    font-family: 'PT Sans', sans-serif;
    font-size: 1em;
}

a:hover {
    text-decoration: none;
}

.category-title, .cat-title {
    font-family: 'Pacifico', cursive;
}

.cat-subtitle > span {
    font-weight: bold;
}

.cat-title {
    font-size: 2rem;
}

.cat-subtitle {
    font-size: 3rem;
}

input[type="text"], textarea {
    outline: none;
    box-shadow: none !important;
    border: 1px solid #ccc !important;
}

textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, [type=text].form-control:focus, [type=password].form-control:focus, [type=email].form-control:focus, [type=tel].form-control:focus, [contenteditable].form-control:focus {
    box-shadow: inset 0 -1px 0 #ddd;
}

.btn:focus {
    outline: none;
}

header img {
    padding: 15px 0px;
}

.bg-light {
    background-color: #f8f9fa!important;
    padding: 15px 0px;
}

.navbar {
    padding: 10px 0px;
    border-bottom: #ddd solid 1px;
}

.navbar-nav .nav-link, .dropdown-item {
    font-size: 1.0em;

}

.navbar-nav .nav-link {
    display: block;
    padding: 15px 15px;
    border-bottom: 2px solid transparent;
    color: #2b2b2b;
    text-transform: uppercase;
}

/* .block-linha {
    height: 100px;
    display: block;
    overflow: hidden;
    text-indent: -1000px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */

.block-linha {
    height: 100px;
    display: block;
    overflow: hidden;
    text-indent: -1000px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.language-select ul > li > a {
    color: #fff;
    text-transform: uppercase;
}

.language-select img {
    width: 25px;
}

.navbar-nav .nav-link:hover {
    /* background-color: rgb(224, 221, 35); */
    color: #ed1c24;
    transition: .2s ease;
}

.dropdown-menu.show {
    background-color: #343a40!important;
}

a.dropdown-item {
    color: #fff;
}

a.dropdown-item:hover {
    color: rgb(39, 39, 39);
    background-color: rgb(224, 221, 35);
}

.navbar-nav .nav-link.active {
    color: #ec3237;
    /*border-bottom: 2px solid #c7b61f;*/

}

.no-search-wrapper h2 {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.no-search-wrapper h2:last-child {
    font-size: 18px;
    margin-top: 15px;
}

.no-search-wrapper {
    margin-bottom: 30px;
}

form#search-form {
    margin-left: 15px;
    /* position: absolute;
    top: 85px;
    z-index: 99;
    left: 63%;
    background-color: #fff;
    padding: 25px; */
}

form#search-form button, .search-btn {
    border-radius: 0px;
    background: #ec3237;
    color: #FFF;
    margin-left: 10px;
    border-radius: 5px;
}

.search-link:hover {
    cursor: pointer;
}

form#search-form button:hover {
    background: #fff;
    color: #ec3237;
    border-radius: 25px;
    border-color: #ec3237;
    transition: .5s ease;
}

/*
Footer
*/

footer {
    text-align: center;
    background: #ec3237;
    color: #FFF;
    padding: 15px 0px;
}

footer .copyright {
    font-size: 12px;
}

.copyright a {
    color: #FFF;
}

.copyright a:hover {
    text-decoration: none;
    color: #DDD;
}

h2 {
    margin-top: 0px;
    background: #fafafa;
    padding: 20px 0px;
    color: #666666;
    margin-bottom: 30px;
}

h4.product-title {
    margin-bottom: 49px;
    font-size: 28px;
}

section.linha {
    padding: 25px 0px;
}

section.categories {
    padding: 50px 0px;
    background: #f5f5f5;
    margin-top: -180px;
}

.title-index {
    display: none;
}

/*
Produtos
*/

section.products {
    margin: 0px;
    min-height: 800px;
}

section.products .product-item {
    margin-bottom: 50px;
    text-align: center;
    min-height: 400px;
    position: relative;
}

section.products .product-item .product-name {
    margin-top: 25px;
    font-size: 1.1em;
    text-align: center;
    line-height: 1.2em;
}

section.products .product-item a.text-link:hover {
    text-decoration: none;
    background: transparent;
    color: #ec3237 !important;
    transition: .3s ease-in-out;

}

section.products .product-item a.text-link {
    text-align: center;

    background: #ec3237;
    padding: 10px 25px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
    color: #fff !important;
    border: 2px solid #c72231;
    border-radius: 35px;

    bottom: 0px;
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 70px;
    right: 70px;
}


.variation-list li span {
    font-weight: bolder;
}

.variation-list li {
    margin-bottom: 5px;
}

/*Products variations*/

ul.variations {
    margin: 0px;
    padding: 0;
    list-style: none;
}

ul.variations li {
    display: inline-block;
    border: 1px solid #d3d3d3;
    margin: 4px 2px;
}

ul.variations li:hover {
    border: 1px solid #8b8b8b;
}

ul.variations li a {
    display: block;
    margin: 0px;
}

ul.variations li a img.img-thumb {
    width: 70px;
}

section#distribution {
    margin: 50px 0px;
}

section#distribution a {
    text-decoration: none;
    color: #292929
}

section#distribution a > i {
    color: rgb(20, 112, 54);
    font-size: 18px;
}

/*Paginacao*/

.pagination {
    display: -ms-flexbox;
    display: inline-flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    width: auto;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #2f3033;
    border-color: #2f3033;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #292929;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-link:hover {
    z-index: 2;
    color: #ffffff;
    text-decoration: none;
    background-color: #c72231;
    border-color: #dee2e6;
}


.info-text a {
    color: #969696;
}

.info-text a:hover {
    color: #969696;
    text-decoration: none;
}

.info-holder p {
    color: #969696;
    margin-bottom: 5px;
}

.icon {
    color: #c72231;
    font-size: 1.4rem;
}


.form-content.section-bg-white {
    padding: 70px 100px
}

.form-content h3,
.tr-address span {
    font-size: 24px;
    font-weight: 400;
    color: #666;
    margin-bottom: 30px
}


.contact-form .form-group {
    position: relative
}

.contact-form .input-group-addon {
    position: absolute;
    left: 20px;
    padding: 0;
    color: #d9d9d9;
    border: 0;
    top: 18px;
    background-color: transparent
}

.contact-form .form-control {
    border: 2px solid #f0f0f0;
    margin-bottom: 30px;
    border-radius: 4px;
    padding: 15px 20px 15px 50px
}

.contact-form .form-control:focus {
    border-color: #80b435
}

textarea.form-control {
    height: 150px;
    resize: none
}

.contact-form input[type=file] {
    cursor: pointer;
    padding-top: 12px
}






section#contact-form {
    background: #f5f5f5;
}

/*
* Sub-Categories na home
*/

.product-wrapper {
    border-radius: 4px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-box-shadow: 4px 4px 9px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 4px 9px -5px rgba(0,0,0,0.5);
    box-shadow: 4px 4px 9px -5px rgba(0,0,0,0.5);
}

.product-wrapper-inner h1 {
    color: #2b2b2b;
    font-size: 26px;
    font-weight: 300;
    margin-top: 10px;
}


.product-wrapper-inner {
    color: #898989;
    max-width: 220px;
    padding: 30px;
    min-height: 260px;

}

.product-content {
    margin-top: 2rem ;
}

/* .product-wrapper > p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #2f3033;
} */

/* .product-wrapper:hover {
    color: #000 !important;
    background: #fff200;
    background-position: top;
    background-size: 80%;
    transition: 0.2s ease-in-out;
} */


.line-wrapper {
    height: 100px;
    border: 2px solid #aaa;
    border-radius: 3px;
    background-size: 200%;
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;

}

.line-wrapper:hover {
    background-position: top;

    background-size: 250%;
    transition: 0.2s;
    background-position: center;
    background-repeat: no-repeat;
}






/*Whatsbutton*/

a.whatsbox-links {
    color: #545558;
}

a.whatsbox-links:hover {
    color: #545558;
}

a.whatsbox-button {
    display: block;
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: #FFF !important;
    background: #00a859;
    border: none;
    padding: 5px 9px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    z-index: 99;
    max-width: 235px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.whatsbox-pulse-button {
    box-shadow: 0 0 0 rgb(0, 168, 89);
    animation: pulse 2s infinite;
}

a.whatsbox-button:hover {
    -webkit-animation: none;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 168, 89, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 15px rgba(0, 168, 89, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 168, 89, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(0, 168, 89, 0.4);
        box-shadow: 0 0 0 0 rgba(0, 168, 89, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 15px rgba(0, 168, 89, 0);
        box-shadow: 0 0 0 15px rgba(0, 168, 89, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(0, 168, 89, 0);
        box-shadow: 0 0 0 0 rgba(0, 168, 89, 0);
    }
}

a.whatsbox-button-transparent {
    display: block;
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: #FFF;
    padding: 5px 10px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    z-index: 9;
}

a.whatsbox-button-transparent.whatsbox-pulse-button-transparent>img {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    animation: pulseIcon 2s infinite;
}

@-webkit-keyframes pulseIcon {
    0% {
        -webkit-filter: drop-shadow(0px 0px 0px rgba(0, 168, 89, 1));
        filter: drop-shadow(0px 0px 0px rgba(0, 168, 89, 1));
    }
    50% {
        -webkit-filter: drop-shadow(0px 0px 15px rgba(0, 168, 89, 0.6));
        filter: drop-shadow(0px 0px 15px rgba(0, 168, 89, 0.6));
    }
    100% {
        -webkit-filter: drop-shadow(0px 0px 0px rgba(0, 168, 89, 0));
        filter: drop-shadow(0px 0px 0px rgba(0, 168, 89, 0));
    }
}

@keyframes pulseIcon {
    0% {
        -webkit-filter: drop-shadow(0px 0px 0px rgba(0, 168, 89, 1));
        filter: drop-shadow(0px 0px 0px rgba(0, 168, 89, 1));
    }
    50% {
        -webkit-filter: drop-shadow(0px 0px 15px rgba(0, 168, 89, 0.6));
        filter: drop-shadow(0px 0px 15px rgba(0, 168, 89, 0.6));
    }
    100% {
        -webkit-filter: drop-shadow(0px 0px 15px rgba(0, 168, 89, 0));
        filter: drop-shadow(0px 0px 15px rgba(0, 168, 89, 0));
    }
}

img.whatsbox-icon {
    padding-right: 10px;
    vertical-align: middle;
    width: 40px;
    display: inline;
}

/*Breadcrumb*/

ol.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 5px 15px;
    margin-bottom: 30px;
    list-style: none;
    background-color: #f8f9fa;
    border-radius: 0px;
    margin-top: 30px;
}

ol.breadcrumb li a {
    color: #c72231;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    font-size: 1.1em;
}

/*
* Button Animate
*/

a.btn-mask {
    color: #333333;
    display: table;
    width: 100%;
    -webkit-transition: background-color 300ms linear, color .2s linear;
    -moz-transition: background-color 300ms linear, color .2s linear;
    -o-transition: background-color 300ms linear, color .2s linear;
    -ms-transition: background-color 300ms linear, color .2s linear;
    transition: background-color 300ms linear, color .2s linear;
}

a.btn-mask:hover {
    text-decoration: none;
    width: 100%;
    color: #c72231;
    background: #f3f3f3;
}

.div-mask {
    position: relative;
    padding-left: 110px;
    font-size: 25px;
    min-height: 100px;
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
    border: 1px solid #959595;
    height: 100px;
    padding-right: 14px;
}

img.img-fluid.img-animate {
    position: absolute;
    max-width: 115px;
    left: 0;
    top: 60px;
    transition: all .5s ease 0s;
}

.div-mask:hover img.img-fluid.img-animate {
    top: 5px;
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin-right: 0px !important;
    border-radius: 0px;
}


.form-content h3 {
    font-size: 24px;
    font-weight: 400;
    color: #666;
    margin-bottom: 30px;
}



/**
* Language
*/

ul.languages {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

ul.languages li {
    display: inline-block;
}

ul.languages li a img {
    opacity: 0.3;
}

ul.languages li a img.selected {
    opacity: 1;
}

/*
* Contact infos
*/

ul.contacts-info {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

ul.contacts-info li {
    display: inline-block;
    margin-right: 20px;
}

ul.contacts-info li a, ul.contacts-info li a:hover {
    color: inherit;
    text-decoration: none;
}



.logo {
    position: absolute;
    width: 145px;
    position: absolute;
    margin-left: 5rem;
    z-index: 1;
}

.topbar {
    background-color: #ec3237;
    height: 50px;
}


